<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="static/css/deemos.css" rel="stylesheet">
		<script src="static/lib/jquery-1.7.2.min.js"></script>
		<script src="static/lib/underscore-min.js"></script>
		<script src="static/lib/angular-1.0.1.js"></script>
		<script src="static/app/controllers.js "></script>
		<title>deemos</title>
	</head>
	<body >
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">deemos</a>
				<ul class="nav pull-right">
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
					<ul class="dropdown-menu">
					...
					</ul>
					</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container row content" style="margin-top: 20px; min-height:600px;">
			<div ng-controller="MessageCtrl">
				<div id="send-message">
					<form>
						<textarea class="input-xlarge" ng-model="message.body" rows="4"></textarea>
						<button ng-click="update(message)" ng-disabled="form.$invalid || isUnchanged(message)">post</button>
					</form>
				</div>
			</div>
			<div ng-controller="StreamCtrl">
				<div class="message" ng-repeat="message in messages">
					<div class="body">
						{{ message.text }} 
					</div>
					<div class="user">
						<img width="20" height="20" alt="" class="" src="https://si0.twimg.com/a/1343882452/images/resources/twitter-bird-light-bgs.png">
						<span class="message-user">{{ message.user.name }}</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
