body {
	background: #455A71;
}

#bg {
	padding: 68px 0 50px;
}

#send-message {
	border-bottom: 1px solid #E9E9E9;
	padding-left: 20px;
	margin-top: 30px;
}

.content {
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	-webkit-box-shadow: 2px 2px 2px 1px #455A71;
	box-shadow: 2px 2px 2px 1px #455A71; 
	background: white;
	min-height: 300px;
}

.space-medium {
	min-height: 100px;
}

.message {
	border-bottom: 1px solid #E9E9E9;
	font-size: 12px;
}

.avatar {
	border-right: 1px solid #E9E9E9;
}

.message-user {
	font-size: 10px;
	font-color: #E9E9E9;
	padding-left: 22px;
}

.message-created {
	font-size: 10px;
}

.user {
}

.pad-top {
	padding-top: 20px;
}

.pad-top-small {
	padding-top: 4px;
}
.pad-top-medium {
	padding-top: 10px;
}

.pad-left {
	padding-left: 20px;
}
